{% extends "blogs/base.html" %}
{% load static %}

{% block title %}<title>Abiogenesis</title>{% endblock title %}
  

{% block metatags %}
    <!-- Meta Tags -->

    <meta name="description" content="Explore the fascinating journey of life's origin, from abiogenesis and the RNA World Hypothesis to the evolution of multicellular organisms, mammals, and primates. Learn about key scientific experiments like the Miller-Urey experiment and the Endosymbiotic Theory, which explain how life on Earth emerged and evolved over billions of years.">
    <meta name="keywords" content="abiogenesis, evolution, origin of life, RNA world hypothesis, Miller-Urey experiment, endosymbiotic theory, Cambrian explosion, prokaryotes, eukaryotes, primates, mammals, synapsid reptiles, natural selection, Darwinism, early Earth, cyanobacteria, oxygen revolution, biological evolution, multicellular organisms, science, history of life,The Wise Sapiens,Wise Sapiens,non-pofit organization,NGO,Sapiens,Mohsin,Mohsin Ramzan-Founder">
    <meta name="author" content="Mohsin Ramzan">

    <!-- Open Graph meta tags for social media sharing -->
<meta property="og:title" content="Abiogenesis-From Non-Living to Living">
<meta property="og:description" content="Explore the fascinating journey of life's origin, from abiogenesis and the RNA World Hypothesis to the evolution of multicellular organisms, mammals, and primates. Learn about key scientific experiments like the Miller-Urey experiment and the Endosymbiotic Theory, which explain how life on Earth emerged and evolved over billions of years.">
<meta property="og:image" content="/Templates/thewisesapienslogo.jpeg">
<meta property="og:url" content="https://thewisesapiens.org/Blogs/From_NonLiving_To_Living.html">


{% endblock metatags %}

{% block heading %}Abiogenesis-From Non-Living to Living{% endblock heading %}
         
{% block body %}
        <p id="paragraph1">
            I read <i>A Short History of Nearly Everything</i> by <i>Bill Bryson</i> last year, which covers  each major biological and scientific event of our history briefly .  In it, he claimed that if you wish to create another living object—for instance, a goldfish, a head of lettuce, or even a human being—you just need to have only four elements: Carbon, Hydrogen, Oxygen, and Nitrogen. In addition to that, a small amount of others, principally Sulfur, Phosphorus, Calcium, and Iron. Put these together into three dozen or so combinations to form some sugars, acids, and other basic compounds, and you end up making something that is living.
            <br><br>
            Here, I want to define what actually qualifies something as living. The objects that hold the power to replicate themselves are said to be living organisms. And as Dawkins said, there is nothing special about the substance from which living things are made; we are just a collection of molecules like everything else. Ughh, maybe I'm again bringing up the absurdity of my existence, but we live in a world that does not altogether seem to want us here, and we are so miraculously accommodating to it at the same time.
        </p>
        <div class="image-container">
            <img src="{% static "blogs/BlogsPhotos/BigBang3.jfif" %}" alt="Science Image" class="img-fluid my-3"> <!-- Add margin if needed -->
        </div>
        <p id="paragraph2">
            Interestingly, out of the billions and billions of species of living things that have existed since the dawn of time, around 99.99% are no longer around. Also, life on Earth, you see, is not only brief but dismayingly tenuous. It is a curious feature of our existence that we come from a planet that is very good at promoting life but even better at extinguishing it. The average species on Earth lasts only about four million years, but the question arises: how did all of this start? How was our Earth suitable enough to let single-cellular life begin?

           <br>
           <br>
           To answer this, I want to take you back in time, around 4.4 billion years ago, when the first ocean emerged on Earth's surface after it cooled down. We all know that NASA, ISRO, and other space agencies have spent years of hard work and billions of dollars trying to trace out water on the Moon and distant planets because "water" is considered a vital source for any life to start. As there is a saying which goes like "Where there is water , there is life". This is because the primitive oceans became a chemical soup containing essential molecules like amino acids, sugars, and fatty acids. This soup then went through a chain of chemical reactions due to various energy sources such as lightning, UV radiation, or volcanic activity (particularly mentioning those available here on Earth; there could be more elsewhere in the cosmos). From this, scientists believe that simple organic molecules were formed spontaneously because the Earth's primitive environment resembled it.

            <br>
           <br>
           This experiment was attempted in 1953, famously known as the Miller-Urey experiment, which demonstrated that amino acids (the building blocks of proteins) could form from simple gases when exposed to electricity (simulating lightning). Here, I want to bash the so called Nobel Laureate (mockingly) Qasir Ahmad Raja, who tried to disprove this in various videos, stating that this was a false experiment and that the environment created for it was not exactly the same. But as always he was intellectually dishonest because the Miller-Urey experiment is valid but not a complete explanation of life’s origin. It only proved that organic molecules can form naturally, though the exact conditions of early Earth remain debated. This doesn't give me a reason to completely negate it because newer models, including the RNA World and hydrothermal vents, give the same end result.
        </p>
        <div class="image-container">
            <img src="{% static "blogs/BlogsPhotos/Experiment.png" %}" alt="Big Bang Image Image" class="img-fluid my-3"> <!-- Add margin if needed -->
        </div>
        <p id="paragraph3">
            Cutting to the chase, around 3.8 billion years ago, the very first living organism was formed, which was able to replicate itself, and it was RNA (Ribonucleic Acid). There is a theory known as the RNA World Hypothesis, which states that RNA acted as both genetic material and an enzyme (ribozyme) before DNA and proteins evolved. Then, with time, it mutated and evolved, just like every other organism does, and developed into more complex biochemical structures.
            <br><br>
            In the next phase of the chronological order of the creation of life on Earth comes the formation of the very first cell, which actually happened almost 3.7 billion years ago. Lipid molecules formed microscopic bubbles (protocells) in water, which resembled primitive cell membranes. These protocells could trap RNA inside, allowing them to replicate and evolve. Eventually, these protocells developed into the first single-celled organisms, marking the beginning of biological life.
            <br><br>
            After this, around 3.5 billion years ago, bacteria-like forms emerged, which are said to be the first prokaryotic cells. These early microbes were anaerobic (survived without oxygen) and fed on organic molecules from their environment. Some bacteria, like cyanobacteria, developed the ability to perform photosynthesis, producing oxygen as a byproduct. These same cyanobacteria triggered a great revolution around 2.5 billion years ago by releasing large amounts of oxygen into the atmosphere through photosynthesis, which was toxic for many early life forms back then. This caused a mass extinction; however, some organisms adapted by utilizing oxygen as their source of energy( reminds me of the Darwinism which state the philosophy of Survive the fittest ). This led to the evolution of aerobic (oxygen-breathing) organisms.
            <br><br>
            Around 2 billion years ago, mutation and evolution resulted in the formation of eukaryotic cells, which were more complex and larger. This was actually explained by the Endosymbiotic Theory, which suggests that mitochondria and chloroplasts were once independent bacteria that were engulfed by larger cells. Such symbiotic relationships allowed cells to become more efficient in energy production. Then, around 1 billion years ago, some eukaryotic cells joined together to form multicellular organisms, leading to the evolution of early algae, fungi, and simple animals.
            

        </p>
        <div class="image-container">
            <img src="{% static "blogs/BlogsPhotos/Evolution2.png" %}" alt="Science Image" class="img-fluid my-3"> <!-- Add margin if needed -->
        </div>
        <p id="paragraph4">
            Eventually, around 540 million years ago, the Cambrian Explosion occurred, which was a rapid increase in biodiversity, leading to the evolution of complex animals like arthropods, mollusks, and the first vertebrates. This set the stage for the formation of fish, which then shifted to land and became amphibians, adapting to both water and land as they were semi-aquatic. Then, from them, reptiles evolved, which were fully land-adapted vertebrates.
        <br><br>
        Mammals evolved from synapsid reptiles like Dimetrodon. They were warm-blooded animals, and from them, the first primates evolved, which were tree-dwelling mammals or our great apes. From them, we evolved. How and when that happened is something I should leave for next time.
        <br><br>
        Our history of complete evolution took millions and billions of years to happen, and it isn't justice to cover it in such a short write-up. But this was just for the sake of an idea, so that we can look around to observe and relate that whatever you read and I write doesn't lie in the realm of fairy tales but actually exists.
        <br>
        <div class="divider"></div>
    </p>
    <p class="credits" id="credit">
        Author and Researcher: <a class="credits-link" href="https://www.instagram.com/writtenbymohsin/">Mohsin Ramzan</a> 
        <div class="divider"></div>
    </p>
    
    </div>
    <!-- Navigation Buttons -->
    <div class="button-container">
        <a href="" class="btn previous-button" role="button">Previous Article</a>
        <a href="Why_Literature_is_Important.html" class="btn next-button" role="button">Next Article</a>
    </div>
    <!-- JS -->
    <script>

let language = document.getElementById("language-select");

language.addEventListener("change", function () {
    if (language.value == "ur") {
        document.body.style.fontFamily = "'Gulzar', serif"; 
        document.body.style.fontWeight = 400; 
        document.body.style.fontStyle = "normal"
        document.body.style.lineHeight = "2.5";
        document.body.style.direction = "rtl"; // Set text direction to right-to-left
    document.body.style.textAlign = "right"; // Align text to the right
        document.getElementById("heading1").innerHTML ="ایبیوجینیسس - غیر جاندار سے جاندار تک"
        document.getElementById("paragraph1").innerHTML = `میں نے پچھلے سال بل برائسن کی کتاب <strong>"A Short History of Nearly Everything"</strong> پڑھی تھی، جو ہماری تاریخ کے ہر بڑے حیاتیاتی اور سائنسی واقعے کا مختصر احاطہ کرتی ہے۔ اس میں انہوں نے دعویٰ کیا تھا کہ اگر آپ کسی اور جاندار شے کو تخلیق کرنا چاہتے ہیں—مثال کے طور پر، ایک سنہری مچھلی، ایک لیٹش کا پتہ، یا حتیٰ کہ ایک انسان—تو آپ کو صرف چار عناصر درکار ہیں: <strong>کاربن، ہائیڈروجن، آکسیجن، اور نائٹروجن</strong>۔ اس کے علاوہ، تھوڑی مقدار میں کچھ دیگر عناصر، جن میں خاص طور پر <strong>سلفر، فاسفورس، کیلشیم، اور آئرن</strong> شامل ہیں۔ ان تمام کو تین درجن یا اس سے زیادہ ترکیبوں میں جوڑ کر کچھ شکر، تیزاب، اور دیگر بنیادی مرکبات بنائے جا سکتے ہیں، اور یوں آپ کسی جاندار شے کو بنا سکتے ہیں۔  

<br><br>

یہاں، میں یہ واضح کرنا چاہتا ہوں کہ درحقیقت کیا چیز کسی چیز کو "زندہ" قرار دیتی ہے۔ وہ اشیاء جو خود کو نقل (replicate) کرنے کی طاقت رکھتی ہیں، انہیں جاندار کہا جاتا ہے۔ اور جیسا کہ ڈاؤکنز نے کہا تھا، <strong>"زندہ اجسام جن مادوں سے بنے ہوتے ہیں ان میں کوئی خاص بات نہیں ہے؛ ہم صرف مالیکیولز کا مجموعہ ہیں، جیسے ہر اور چیز"</strong>۔ اوہ، شاید میں ایک بار پھر اپنی موجودگی کے بےمعنی ہونے کی بات کر رہا ہوں، مگر ہم ایک ایسی دنیا میں رہتے ہیں جو مکمل طور پر ہمیں یہاں دیکھنا نہیں چاہتی، اور پھر بھی ہم حیرت انگیز طور پر اس کے مطابق خود کو ڈھال لیتے ہیں۔  `
        
        document.getElementById("paragraph2").innerHTML=  `دلچسپ بات یہ ہے کہ <strong>کروڑوں اور اربوں کی تعداد میں جاندار انواع</strong> (species) جو زمین پر وجود میں آئیں، ان میں سے <strong>99.99% اب موجود نہیں ہیں</strong>۔ مزید یہ کہ، زمین پر زندگی نہ صرف مختصر ہے بلکہ انتہائی ناپائیدار بھی ہے۔ یہ ہماری موجودگی کی ایک عجیب خصوصیت ہے کہ ہم <strong>ایسی زمین سے آئے ہیں جو زندگی کو پروان چڑھانے میں بہت اچھی ہے، لیکن اسے ختم کرنے میں اس سے بھی بہتر</strong>۔ زمین پر کسی بھی اوسط نوع (species) کی زندگی <strong>تقریباً 40 لاکھ (4 ملین) سال</strong> ہوتی ہے، مگر سوال یہ اٹھتا ہے: <strong>یہ سب کچھ شروع کیسے ہوا؟ ہماری زمین اتنی سازگار کیسے بنی کہ یہاں زندگی کا آغاز ممکن ہو سکا؟</strong>  

<br><br>

اس کا جواب دینے کے لیے میں آپ کو <strong>تقریباً 4.4 ارب (4.4 billion) سال پہلے</strong> لے جانا چاہتا ہوں، جب زمین کا درجہ حرارت ٹھنڈا ہونے کے بعد پہلی بار <strong>سمندر کی تشکیل</strong> ہوئی۔ ہم سب جانتے ہیں کہ <strong>ناسا، اسرو (ISRO)، اور دیگر خلائی ایجنسیاں</strong> چاند اور دیگر سیاروں پر <strong>پانی تلاش کرنے</strong> کے لیے سالوں سے انتھک محنت اور <strong>اربوں ڈالر</strong> خرچ کر رہی ہیں، کیونکہ <strong>"پانی" زندگی کے آغاز کے لیے ایک لازمی عنصر سمجھا جاتا ہے</strong>۔ جیسا کہ ایک مشہور کہاوت ہے: <strong>"جہاں پانی ہے، وہاں زندگی ہے"</strong>۔  

<br><br>

اس کی وجہ یہ ہے کہ <strong>قدیم سمندر ایک "کیمیائی سوپ" (chemical soup) تھا</strong>، جس میں <strong>امینو ایسڈز، شکر، اور چربی والے تیزاب (fatty acids) جیسے اہم مالیکیولز موجود تھے</strong>۔ یہ سوپ مختلف توانائی کے ذرائع جیسے <strong>بجلی (lightning)، الٹرا وائلٹ شعاعوں (UV radiation)، یا آتش فشانی سرگرمی</strong> کے باعث کئی کیمیائی تعاملات (chemical reactions) سے گزرا۔ ان عوامل کی وجہ سے <strong>سادہ نامیاتی مرکبات (organic molecules) قدرتی طور پر وجود میں آئے</strong> کیونکہ زمین کا قدیم ماحول ان کے لیے سازگار تھا۔  

<br><br>

یہ تجربہ <strong>1953 میں میلر-یوری تجربے (Miller-Urey experiment) کے ذریعے آزمایا گیا</strong>، جس نے ثابت کیا کہ <strong>امینو ایسڈز، جو پروٹینز کے بنیادی اجزاء ہیں، سادہ گیسوں اور بجلی (lightning) کے ذریعے قدرتی طور پر بن سکتے ہیں</strong>۔ یہاں میں طنزیہ طور پر "نوبل انعام یافتہ" <strong>قاصر احمد راجہ</strong> (Qasir Ahmad Raja) کو جھوٹا ثابت کرنا چاہتا ہوں، جو اپنی مختلف ویڈیوز میں یہ کہہ کر اس تجربے کو غلط ثابت کرنے کی کوشش کرتا رہا کہ <strong>"یہ تجربہ غلط تھا کیونکہ جو ماحول تخلیق کیا گیا وہ بالکل ابتدائی زمین جیسا نہیں تھا"</strong>۔ مگر ہمیشہ کی طرح، وہ <strong>بددیانتی</strong> سے کام لے رہا تھا، کیونکہ میلر-یوری تجربہ <strong>اب بھی درست ہے، بس مکمل وضاحت نہیں فراہم کرتا</strong>۔ یہ صرف یہ ثابت کرتا ہے کہ <strong>نامیاتی مالیکیول قدرتی طور پر بن سکتے ہیں</strong>، حالانکہ <strong>ابتدائی زمین کے اصل حالات پر اب بھی بحث جاری ہے</strong>۔  `
       
document.getElementById("paragraph3").innerHTML = `<strong>تقریباً 3.8 ارب سال پہلے</strong>، پہلا جاندار وجود میں آیا جو <strong>اپنی نقل بنا سکتا تھا</strong>، اور یہ تھا <strong>RNA (رائبونیوکلیک ایسڈ)</strong>۔ ایک نظریہ <strong>"RNA ورلڈ تھیوری"</strong> کہتی ہے کہ <strong>RNA پہلے جینیاتی مواد (genetic material) اور خامرہ (enzyme) دونوں کے طور پر کام کرتا تھا، اس سے پہلے کہ DNA اور پروٹینز وجود میں آئیں</strong>۔ پھر وقت کے ساتھ، یہ <strong>ارتقا (mutation and evolution) سے گزر کر</strong> زیادہ پیچیدہ حیاتیاتی ڈھانچے میں تبدیل ہوا۔  

<br><br>

<strong>تقریباً 3.7 ارب سال پہلے</strong>، <strong>پہلی خلیہ (cell) تشکیل پایا</strong>، جب <strong>چربی والے مالیکیولز (lipid molecules) نے پانی میں چھوٹے بلبلے (protocells) بنائے</strong>، جو ابتدائی خلیوں کی جھلی (membrane) سے مشابہ تھے۔  

<strong>تقریباً 3.5 ارب سال پہلے</strong>، <strong>بیکٹیریا جیسے ابتدائی جاندار نمودار ہوئے</strong>۔  <strong>تقریباً 2 ارب سال پہلے</strong>، <strong>یوکاریوٹک (eukaryotic) خلیات</strong> کی تشکیل ہوئی۔  <strong>تقریباً 1 ارب سال پہلے</strong>، یوکاریوٹک خلیات <strong>آپس میں جُڑ کر</strong> <strong>کثیر خلوی جانداروں (multicellular organisms)</strong> میں تبدیل ہو گئے۔  <strong>تقریباً 540 ملین سال پہلے</strong>، <strong>کیمبرین دھماکہ (Cambrian Explosion)</strong> ہوا۔  `

document.getElementById("paragraph4").innerHTML = `ممالیہ جانور سیناپسڈ رینگنے والے جانداروں (Synapsid Reptiles) جیسے ڈائمیٹروڈون (Dimetrodon) سے ارتقا پذیر ہوئے۔ یہ گرم خون والے جاندار تھے، اور انہی سے پہلے پریمیٹس (Primates) وجود میں آئے، جو درختوں پر رہنے والے ممالیہ یا ہمارے عظیم اجداد (Great Apes) تھے۔ انہی سے ہم نے ارتقا پایا۔ یہ کیسے اور کب ہوا، یہ ایک ایسی بحث ہے جسے میں اگلی بار کے لیے چھوڑنا بہتر سمجھتا ہوں۔
<br>
ہمارے مکمل ارتقائی سفر میں لاکھوں اور اربوں سال لگے، اور اسے اتنے مختصر تحریر میں بیان کرنا زیادتی ہوگی۔ لیکن یہ سب محض ایک تصور دینے کے لیے تھا تاکہ ہم اپنے اردگرد دیکھ سکیں، مشاہدہ کر سکیں، اور یہ سمجھ سکیں کہ جو کچھ آپ پڑھتے ہیں اور میں لکھتا ہوں، وہ کسی خیالی کہانی کا حصہ نہیں بلکہ حقیقت میں موجود ہے۔`
document.getElementById("credit").innerHTML = `
    محقق اور مصنف: <a class="credits-link" href="https://www.instagram.com/writtenbymohsin/">محسن رمضان</a>
    
`;


       
        // Apply RTL and right alignment specifically to heading elements
    const headings = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
    headings.forEach(heading => {
        heading.style.direction = "rtl";
        heading.style.textAlign = "right";
    });
    } else {
        location.reload();
 
    }
});

    </script>
    {% endblock body %}