@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(5, 5, 5); 
    color: white; 
    transition: background 0.2s linear;
}
p{
    font-size:larger;
   
}

::selection {
    background-color: #f1c40f; 
    color: #000; 
    
}

.credits-link{
    color: rgb(184, 152, 45);
    cursor: pointer;
    font-size:medium;
    font-weight: bold;
}
.navbar img{
    max-width: 40px;
}
.content {
    margin-top:40px;
    padding: 40px;
    text-align: justify;
    align-items: center;
}

.custom-select-container {
    position: absolute;

    top: 90px; /* Adjust this value if you need it lower or higher */
    right: 20px; /* Aligns it to the extreme right */
    z-index: 999; /* Ensures it stays on top of other elements */
    display: inline-block;
}

.custom-select {
    appearance: none;
    background-color: var(--background-color, #333);
    color: var(--text-color, #f1f1f1);
    border: 1px solid var(--border-color, #555);
    padding: 10px 40px 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
    cursor: pointer;
    font-family:  sans-serif;
}

.custom-select:focus {
    box-shadow: 0 0 5px var(--border-color, #777); /* Default focus shadow */
}

.custom-select-container::after {
    content: "▼";
    color: var(--icon-color, #f1f1f1);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
}

.custom-select:hover {
    background-color: var(--hover-bg-color, #555); /* Default hover background */
}
body.light .custom-select{
    background-color: white;
    color: black;
    content: "▼";
    color: var(--icon-color, #000000);
}
body.light {
    background-color: #fff;
}

.divider {
    height: 1px;
    background-color: #ffffff; /* Default color for dark theme */
    margin: 10px 0;
}

body.light .divider {
    background-color: #000000; /* Adjust for visibility in light theme */
}

.credits{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
body.light h1,
body.light p,
body.light .org-name  {
    color: #000;
}
.custom-select .light{
    color: rgb(3, 3, 3);
}
body.light .navbar {
    background-color: aliceblue;
}

body.light .navbar .checkbox-label {
    background-color: #111;
    color: white;
}

.navbar {
    background-color: #0b0a0a;
    padding: 15px;
    border-bottom: 4px solid black;
    border-radius: 15px;
    transition: background 0.2s linear;
}

.navbar .logo {
    max-height: 40px;
}

.navbar .org-name {
    display: inline-block;
    color: rgb(229, 229, 229);
}
.org-name{
    font-family: "Sassy Frass", sans-serif;
}
@media (max-width: 767px) {
    .navbar .org-name {
        display: none;
    }
    p {
        font-size: medium;
    }
    h1{
        font-size: 35px;
    }
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

/* Container styling */
.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    width: 100%; /* Ensure the container takes up full width */
}

/* Image styling */
.image-container img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}

.heading-wrapper {
    display: flex;
    align-items: center;
   
    gap: 15px; 
}

.heading-wrapper .custom-select-container {
    margin-left: 15px; 
}
footer{
    padding: 40px;
    text-align: center;
    
}
footer #footer-link{
    color: rgb(184, 152, 45);
}
/* Button container styling */
.button-container {
    display: flex;
    justify-content: space-between; 
    max-width: 600px; 
    margin: 0 auto;
}

/* Button styling */
.btn {
    border: 1px solid #fff; 
    color: #fff; 
    justify-content: space-between;
    background-color: #444; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px; 
    margin: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555; 
}

/* Specific button styling */
.previous-button {
   
    margin-left: auto; 
}

.next-button {
    margin-right:auto; 
}