{% extends "ngo/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "ngo/css/team.css" %}">

{% endblock css %}


{% block body %}


    <section class="team-section">
        <div class="container text-center my-5">
            <h2 class="section-heading">Meet Our Team</h2> <!-- Added Heading -->
            <div class="row justify-content-center mb-5" data-aos="fade-up" data-aos-duration="1500">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="team-card">
                        <div class="team-img">
                            <img src=" {% static "ngo\members\Mohsin.png" %}" alt="Founder">
                        </div>
                        <h5>Founder</h5>
                        <p>Mohsin</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-right" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Mazhar.png" %}" alt="Team Member 1">
                        </div>
                        <h5>Director</h5>
                        <p>Mazhar</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-left" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Umer.png" %}" alt="Team Member 2">
                        </div>
                        <h5>Cinematographer</h5>
                        <p>Umer</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-right" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Malaika.png" %}" alt="Team Member 3">
                        </div>
                        <h5>WordSmith</h5>
                        <p>Malaika</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-left" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Hamza.png" %}" alt="Team Member 4">
                        </div>
                        <h5>Coordinator</h5>
                        <p>Hamza</p>
                    </div>
                </div>
                
                
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-right" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src=" {% static "ngo\members\Ayesha.png" %} " alt="Team Member 7">
                        </div>
                        <h5>Research Strategist</h5>
                        <p>Ayesha</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-left" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Rafie.png" %}" alt="Team Member 6">
                        </div>
                        <h5>Story Teller</h5>
                        <p>Rafie</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-right" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Zeba.png" %}" alt="Team Member 11">
                        </div>
                        <h5>Content Designer</h5>
                        <p>Zeba</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-left" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Zainab.png" %}" alt="Team Member 10">
                        </div>
                        <h5>Script Writer</h5>
                        <p>Zainab</p>
                    </div>
                </div>
                
               

                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-right" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Rafay.png" %}" alt="Team Member 10">
                        </div>
                        <h5>Legal Advisor</h5>
                        <p>Rafay</p>
                    </div>
                </div>
            
                <div class="col-md-6 col-sm-12 mb-4" data-aos="fade-up-left" data-aos-duration="1500">
                    <div class="team-card">
                        <div class="team-img">
                            <img src="{% static "ngo\members\Sameer.png" %}" alt="Team Member 9">
                        </div>
                        <h5>Content Editor</h5>
                        <p>Sameer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock body %}